html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.cell{
    display: inline-block;
    position: relative;
    background-size: contain;
}

.w-background{
    background-color: rgba(255, 0, 0, 0);
}

.b-background{
    background-color: black;
}


.chessboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chessboard{

}




